<p id="notice"><%= notice %></p>
<div class="container">
<p>
  <strong>Wistia:</strong>
  <%= @video.wistia %>
</p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<div id="wistia_<%= @video.wistia %>" class="wistia_embed" style="width:640px;height:360px;">&nbsp;</div>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>


<script src="//fast.wistia.com/assets/external/E-v1.js"></script>
<script>
wistiaEmbed = Wistia.embed("<%= @video.wistia %>");
</script>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>


</div>
