<!doctype html>


<html lang="en">
<head>
	<meta charset="utf-8">

	<title>GameHackHack - Learn how to make Games</title>
	<meta name="description" content="DigitalBing">
	<meta name="author" content ="SitePoint">

	<link rel="stylesheet" href="css/application.css">
	
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	


	
</head>


<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
	<ul>
		 <a class="navbar-brand" href="#">GameBingBing</a>

		 <div class="float-right-nav">
		  <a class="navbar-brand" href="about.html">About</a>
		   <a class="navbar-brand" href="#">Unity</a>
		 <a class="navbar-brand" href="member.html">Sign In</a>
		<button type="button" class="btn btn-default navbar-btn">New Account</button>


	</ul>

		</div>
		</div>
	</nav>
	<section id="HeroSection">
		<div class="container">
			
			<div class="jumbotron">

				<div id="DescriptHero">
					<h1>GameBingBing</h1>
					<h3>Want to learn how to create games? We are the platform to use when it comes to learn how to make games!</h3>
					 <p><a class="btn btn-de btn-lg" href="about.html" role="button">Learn more</a></p>




				</div>
			</div>

				
					<div class="row">
					  <div class="col-xs-6"><span class="glyphicon glyphicon-user" aria-hidden="true">
					  	

					  </span>
					  <div class="signUp">
					  <button type="button" class="btn btn-primary navbar-btn">Sign In</button>
					  <p class="signup">Watch training on both sites, but you will still need to sign in on digitaltutors.com

						<br>
						<br>
						Subscribe, re-subscribe and change your subscription details or any account information on digitaltutors.com</p>
					 </div>
					 </div>
 					

 					 <div class="col-xs-6"><span class="glyphicon glyphicon-pencil" aria-hidden="true">
					  	

					  </span>
					  <div class="signUp">
					  <button type="button" class="btn btn-primary navbar-btn">Sign Up</button>
					  <p class="signup">Subscribe or start a free trial above. Or start a subscription on Pluralsight.com and you’ll have access to all Digital-Tutors courses and manage your account on pluralsight.com

					  <br>
					  <br>

					If you received an invite to join a Digital-Tutors group, you can still follow those links.</p>
					 </div>
					 </div>
</div>
				



		</div>
		

	</section>

	<section id="HeroSection2">
		
			
			<div class="jumbotron">
				<div class="container2">
					
						<div class="container">
						<div class="row2">
					  	<div class="col-xs-6">
							

						

						<%= image_tag("unity-logo.png",  alt: "like", id: "unity-logo") %>


						</div>
						</div>

						<div class="row2">
					  	<div class="col-xs-6">
							

						<h2 class="Who">Learn by recreating your favourite game!</h2>

						
						<p class="learnBy">If you ever wondered how to develop games or just wondered how your favourite game is made, here is your platform!</p>
						<div class="row">
						  <%= image_tag("codblack.jpg",  alt: "like", class: "img-circle") %>
						  <%= image_tag("codblack.jpg",  alt: "like", class: "img-circle") %>
						 <%= image_tag("codblack.jpg",  alt: "like", class: "img-circle") %>
						</div>

						</div>
						</div>
						</div>


						
				 
					
			</div>
		</div>
		

	</section>


	<section id="HeroSection3">
		
			
			
				<div class="container2">
					<div class=Library>
					
					<h1 class="Library">Our Library contains</h1>


					<div class="row3">
						  <div class="col-md-4">
						  		
						  		<h2 class="LibH2">Call Of Duty Remake</h2>
								
						  		<%= image_tag("fps.jpg",  alt: "like", class: "img-rounded") %>

								<div class="embedded">
								
						  		<p class="ProjectLearn"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span> C# Raycast system</p>
						  		<p class="ProjectLearn"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span> Movement coding</p>
						  		<p class="ProjectLearn"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span> UI Scripting</p>
						  		<p class="ProjectLearn"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span> UI Designing</p>
						  		<p class="ProjectLearn"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span> C# Enemy A.I</p>
						  		<p class="ProjectLearn"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span> C# Game Logic</p>
						  		<p class="ProjectLearn"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span> C# Animation Scripting</p>
						  		
						  		<p></p>

						  		</div>

						  </div>
 						 <div class="col-md-4">
 						 		<h2 class="LibH2">Super Mario inspired 2D Platformer</h2>
						  		<%= image_tag("2d.jpg",  alt: "like", class: "img-rounded") %>

						  		<div class="embedded">
						  		<p class="ProjectLearn"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span> 2D Sprite Editing</p>
						  		<p class="ProjectLearn"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span> Build Levels from scratch</p>
						  		<p class="ProjectLearn"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span> C# 2D Scripting</p>
						  		<p class="ProjectLearn"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span> UI Sprite Animation in C#</p>
						  		<p class="ProjectLearn"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span> C# Enemy A.I</p>
						  		<p class="ProjectLearn"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span> C# Game Logic</p>
						  		<p class="ProjectLearn"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span> 2D Animation scripting</p>
						  		
						  		<p></p>

						  		</div>

						  </div>
  							 <div class="col-md-4">
  							 	<h2 class="LibH2">Top Down Survival Shooter</h2>
						  		<%= image_tag("topdown.jpg",  alt: "like", class: "img-rounded") %>

						  		<div class="embedded">
								
						  		<p class="ProjectLearn"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span> C# Raycast system</p>
						  		<p class="ProjectLearn"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span> Movement coding</p>
						  		<p class="ProjectLearn"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span> UI Scripting</p>
						  		<p class="ProjectLearn"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span> UI Designing</p>
						  		<p class="ProjectLearn"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span> C# Enemy A.I</p>
						  		<p class="ProjectLearn"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span> C# Game Logic</p>
						  		<p class="ProjectLearn"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span> C# Animation Scripting</p>
						  		
						  		<p></p>

						  		</div>

						  </div>
</div>	

					</div>
						
				 
					
			</div>
		
		

	</section>



		<section id="HeroSection4">
		
			
			<div class="jumbotron">
				<div class="container2">
					
						<div class="container">
						<div class="row2">
					  	<div class="col-xs-6">
							

						

						<%= image_tag("unity2d.png",  alt: "like", id: "unity-logo2") %>
						<%= image_tag("mono.png",  alt: "like", id: "unity-logo2") %>


						</div>

						</div>

						<div class="row2">
					  	<div class="col-xs-6">
							

						<h2 class="Who">GameBingBing</h2>

						
						<p class="learnBy">Try our service out for 14 days!<br>No payment information required!</br>Let's HACK!</p>
						<button type="button" class="btn btn-primary navbar-btn" id="JoinNow">Join Now!</button>

						

						</div>
						</div>
						</div>


						
				 
					
			</div>
		</div>
		<footer>
		  <p>GameBingBing
		  Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
		</footer>


	</section>







	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		

</body>
</html>